section.slider{
    margin:0 0 auto;
    width: 100%;
    height: 600px;;
  
    overflow: hidden;
    background-color: black;
}

.slider-content{
   width: 450%;
    height: 50%;
    display: flex;
    align-content: space-between;
    
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 23%;
    height: auto;
    position: relative;
    flex-direction: row;
    transition: 2s;
}

.slide-box img{
    width: 100%;
    padding-left: 10%;
    padding-right: 10%;
 padding-top: -5%;
 padding-bottom:-5%;
 background-repeat: no-repeat;
 background-size:contain;



         }

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 40%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #ff0054;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #ff0054;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #ff0054;
}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media (max-width: 870px) {

    section.slider{
        margin:0 0 auto;
        width: 100%;
        height: auto;
      
        overflow: hidden;
        background-color: #000000;
    }
    .slider-content{
        width: 450%;
         height: auto;
         display: flex;
         padding-top: 5%;
         padding-left: 5%;
         padding-right: 5%;
         
     }

}